
<h2>Movie Registration Form</h2>

<form action="Result">

    <p>ID</p>
    <input type="text" name="ID" required />
    <p>Title</p>
    <input type="text" name="Title" required maxlength="50"/>
    <p>Genre</p>
    <p>
        <select name="Operation">
            <option value="Action">Action</option>
            <option value="Comedy">Comedy</option>
            <option value="Drama">Drama</option>
            <option value="Horror">Horror</option>
            <option value="Romance">Romance</option>
        </select>
    </p>
    <p>Year</p>
    <input type="number" name="Year" min="1880" max="2021" required />
    <p>Actors</p>
    <input type="text" name="Actors" required/>
    <p>Directors</p>
    <input type="text" name="Directors" required/>

    <input type="submit" />
</form>